<h1>Welcome to Kerala's RTO Application!</h1>

<p><strong><%=@current_time%></strong></p>

<p><%=@greet_message%></p>


<%= form_tag(rtocodes_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Rtocodes" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>


<h3><%= link_to 'List of RTOs', rtocodes_path %></h3>
